.shadow {
  box-shadow: 7px 5px 15px lightslategray;
  padding: 10px 25px;
}

.create-budget-container {
  display: grid;
  grid-template-columns: 200px 200px 300px auto;
  padding: 5px 10px;
}

.manage-budget-container {
  display: grid;
  grid-template-columns: minmax(100px, 40%) minmax(200px, 20%) auto;
  padding: 5px 10px;
}

.budget-usage-container {
  display: grid;
  grid-template-columns: minmax(100px, 45%) 120px minmax(120px, 20%) minmax(75px, 20%) auto;
  padding: 5px 10px;
}

.budget-name {

}

.period {
  text-align: right;
  margin-right: 35px;
}

.amount {
  text-align: right;
  margin-right: 35px;
}

.submit-container {
  padding: 5px 10px;
}

.alert {
  padding: 0 20px;
}

.month {
  text-align: right;
}

.start-month {
  text-align: right;
}

.stop-month {
  text-align: right;
}

.stop-amount {
  text-align: right;
}

.usage {
  padding-left: 5px;
  text-align: right;
}

.target {
  padding-left: 5px;
  text-align: right;
}

.target-percent {
  padding-left: 10px;
  text-align: right;
}
