<h2>Budget Management</h2>

<h3>Create New Budget</h3>
<div>
<form class="shadow" [formGroup]="createBudgetForm" (ngSubmit)="createBudget()" ngNativeValidate >
  <div class="create-budget-container">
    <label for="budget-name">Budget Name: </label>
    <input
      id="budget-name"
      type="text"
      placeholder="Enter Budget Name"
      formControlName="budgetName"
      minlength="4"
      required
      >
    <div *ngIf="budgetName.invalid && budgetName.dirty" class="alert">
      <div *ngIf="budgetName.hasError('required')">
        Name is required.
      </div>
      <div *ngIf="budgetName.hasError('minlength')">
        Name must be at least 4 characters long.
      </div>
    </div>
  </div>

  <div class="create-budget-container">
  <label for="monthlyAmount">Monthly Allowance ($, <i>opt.</i>): </label>
  <input
    id="monthlyAmount"
    type="number"
    placeholder="Optional Monthly Allowance"
    formControlName="monthlyAmount"
    min="1.0"
    >
    <div *ngIf="monthlyAmount.invalid && monthlyAmount.dirty" class="alert">
      <div *ngIf="monthlyAmount.hasError('min')">
        Amount must be at least $1.
      </div>
    </div>
  </div>

  <div class="submit-container">
    <input type="submit" value="Create Budget">
  </div>
</form>
</div>

<h3>Budgets</h3>
<table class="table shadow" id="budgets-table">
  <thead >
  <tr class="manage-budget-container">
    <th>Name</th>
    <th>Monthly Allowance</th>
  </tr>
  </thead>
  <tbody *ngFor="let budget of budgets">
  <tr class="manage-budget-container" id ="budget-{{budget.id}}" >
    <td class="budget-name">{{budget.budgetName}}</td>
    <td class="amount">{{ budget.monthlyAmount ? formatter.format(budget.monthlyAmount) : "N/A"}}</td>
  </tr>
  </tbody>
</table>

<h3>Budget Usage</h3>

<div>
<select #monthYear (change)="onSelectBudgetMonth(monthYear.value)">
  <option *ngFor="let monthYear of monthYears" [value]="monthYear.date">{{titleCasePipe.transform(monthYear.month)}} {{monthYear.year}}</option>
</select>
</div>

<table class="table shadow">
  <thead>
  <tr class="budget-usage-container">
    <th>Name</th>
    <th class="target">Allowance</th>
    <th class="usage">Usage</th>
    <th class="target-percent">Percent</th>
  </tr>
  </thead>

  <tbody *ngFor="let budgetMonth of budgetMonths">
  <tr class="budget-usage-container">
    <td>{{budgetsDictionary.get(budgetMonth.budgetId)?.budgetName}}</td>
    <td class="target">{{
        budgetsDictionary.get(budgetMonth.budgetId)?.monthlyAmount != null
          ? formatter.format(budgetsDictionary.get(budgetMonth.budgetId)!.monthlyAmount!)
          : "N/A"
      }}</td>
    <td class="usage">{{formatter.format(budgetMonth.amount)}}</td>
    <td class="target-percent">{{
        budgetsDictionary.get(budgetMonth.budgetId)!.monthlyAmount != null
          ? (100 * ( Math.abs(budgetMonth.amount) / budgetsDictionary.get(budgetMonth.budgetId)!.monthlyAmount!)).toFixed(1 ) + "%"
          : "N/A"
      }}</td>
  </tr>
  </tbody>
</table>
