<h3>Transactions</h3>

<table class="table shadow" id="transactions-table">
  <thead>
  <tr class="transactions-container">
    <th class="account">Account</th>
    <th class="transaction-date">Date</th>
    <th class="memo">Memo</th>
    <th class="amount">Amount</th>
    <th class="budget">Budget</th>
  </tr>
  </thead>
  <tbody *ngFor="let transaction of transactions">
  <hr/>
  <tr class="transactions-container">
    <td class="account">{{accountsDictionary.get(transaction.accountId)?.accountName}}</td>
    <td class="transaction-date">{{transaction.date[1]}}/{{transaction.date[2]}}/{{transaction.date[0]}}</td>
    <td class="memo">{{transaction.memo}}</td>
    <td class="amount">{{amountFormatter.format(transaction.amount)}}</td>
    <app-transaction-budget [transaction]="transaction" [budgets]="budgets"></app-transaction-budget>
  </tr>
  </tbody>
</table>
