.transactions-container {
  display: grid;
  grid-template-columns: 120px 120px minmax(325px, auto) minmax(150px, auto) 120px;
  padding: 5px 10px;
  margin-top: 5px;
}

hr {
  margin: 0 20px;
}


.shadow {
  box-shadow: 7px 5px 15px lightslategray;
}

.transaction-date {
  text-align: center;
}

.memo {

}

.amount {
  text-align: right;
  margin-right: 35px;
}

.account {
  text-align: right;
}
